.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}

.pagination .page {
  /* border: 1px solid gray; */
  background-color: #8080808c;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-radius: 10px;
}

.page.previous , .page.next {
  width: max-content;
  padding: 0 5px;
  border-radius: 10px;
  border: none;
}



 .previous:disabled ,
 .next:disabled {
visibility: hidden;
 }

 .active {
  background-color: rgb(42 55 233 / 69%) !important;
  color: white !important;
  
 }