.sort-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-top: 21px;
}

.avaliable-tours {
font-size: 21px;
color: gray;
}
.sort-input-container select {
  border: none;
  padding:10px  17px;
  border-radius: 7px;
  font-size: 21px;
  font-weight: 500;
  outline: none;
}

.sort-input-container select option{
  padding:10px;

}

@media (max-width : 520px) {
  .sort-input-container {
flex-direction: column-reverse;
align-items: flex-start;
  }
  
  .avaliable-tours {
  margin-top: 15px;
  padding-left: 5px;
    }
}